.logo{
    position: absolute;
    width: 230px; 
    height: 160px;
    left: 40px;
    top: 90px;
  }

.salir{
    position: absolute;
    background:00FFFF ;
    width: 200px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    top: 800px;
    left: 500px;


}

.descuentos{
    position: absolute;
    top: 300px;

}

.contenedor{
    
    align-self: center;
    align-content: center;
    left: 90px;
    width: 1230px; 
    height: 160px;
    background: blue;
    border:chocolate;
    color: black;
    font-size: 50px;
    font-weight: 300;
}

#uno{
    top: 200
}

#dos{
    top: 450
}

#tres{
    top: 675
}

.nombreDeUsuario{
    position: absolute;
    width: 230px; 
    height: 160px;
    left: 800px;
    top:80;

}